<%- include('partials/_header') %>

    <div class="container text-center">
        <img src="<%= qr %>" width="300px" height="300px">
        <h2>
            <%= text %>
        </h2>
        <a href="/" class="btn btn-danger">Crear nuevo</a>
    </div>

<%- include('partials/_footer') %>